.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
.fa {
    position:absolute;
    padding: 1px;
    right: 1500px;
  }